<div class="card mb-2">

    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="service.cuurentCars.image">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="service.cuurentCars.description">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Price" [(ngModel)]="service.cuurentCars.release">
        </div>
        <div class="col">
            <button type="button" class="form-control btn btn-success " (click)="createupdate(service.cuurentCars)">Create</button>
        </div>
        <div class="col">
            <button type="button" class="form-control btn btn-warning" (click)="clear()">Clear</button>
        </div>
    </div>

</div>
<div class="container">
    <div class="col-3 mb-3">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search">
        </div>
    </div>
    <div class="row" *ngIf="cars">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let car of cars | filter:search">
            <div class="card border-0 shadow">
                <div class="card-img">
                    <img class="img-fluid cursor-pointer" src="{{BaseURL + car.image}}" alt="{{car.name}}" [routerLink]="['/product/cars',car.id]">
                </div>
                <div class="card-body">
                    <ng-container *ngIf="!car.update">
                        <h5 class="card-title">
                            {{car.name}}
                            <!-- <div *ngIf="showDiv.update" class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div> -->
                        </h5>
                        <p class="card-text">{{car.release}}</p>
                    </ng-container>
                    <ng-container *ngIf="car.update">
                        <car-form [car]="car" (saveCar)="updateCar($event)" (cancel)="car.update=false"></car-form>
                    </ng-container>
                    <ng-container *ngIf="!car.update">
                        <a type="button" (click)="car.update=true;" class="btn btn-primary mr-2">Update</a>
                        <a type="button" (click)="delete(car.id) " class="btn btn-danger mr-2">Delete</a>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>