<div class="row mx-0">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="cars">
        <div class="card border-0 shadow" *ngFor="let c of cars">
            <div class="card-img">
                <img class="img-fluid cursor-pointer" src="{{BaseURL + c.image}}" alt="{{c.name}}">
            </div>
            <div class="card-body">
                <ng-container>
                    <h5 class="card-title">
                        {{c.name}}
                    </h5>
                    <p class="card-text">{{c.release}}</p>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!cars" [hidden]="cars">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="bikes">
        <div class="card border-0 shadow" *ngFor="let c of bikes">
            <div class="card-img">
                <img class="img-fluid cursor-pointer" src="{{BaseURL + c.image}}" alt="{{c.name}}">
            </div>
            <div class="card-body">
                <ng-container>
                    <h5 class="card-title">
                        {{c.name}}
                    </h5>
                    <p class="card-text">{{c.release}}</p>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!bikes" [hidden]="bikes">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngIf="accessories">
        <div class="card border-0 shadow" *ngFor="let c of accessories">
            <div class="card-img">
                <img class="img-fluid cursor-pointer" src="{{BaseURL + c.image}}" alt="{{c.name}}">
            </div>
            <div class="card-body">
                <ng-container>
                    <h5 class="card-title">
                        {{c.name}}
                    </h5>
                    <p class="card-text">{{c.release}}</p>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!accessories" [hidden]="accessories">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
</div>