<div class="card mb-2">

    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="service.currentBike.image">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Description" [(ngModel)]="service.currentBike.description">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Price" [(ngModel)]="service.currentBike.release">
        </div>
        <div class="col">
            <button type="button" class="form-control btn btn-primary mr-2" (click)="createupdate(service.currentBike)">Create</button>
        </div>
        <div class="col">
            <button type="button" class="form-control btn btn-warning" (click)="clear()">Clear</button>
        </div>
    </div>

</div>
<div class="container" *ngIf="bikes">
    <div class="col-3 mb-3">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let bike of bikes | filter:search">
            <div class="card border-0 shadow">
                <div class="card-img">
                    <img class="img-fluid cursor-pointer" src="{{BaseURL + bike.image}}" alt="{{bike.name}}" [routerLink]="['/product/bikes',bike.id]">
                </div>
                <div class="card-body">
                    <ng-container *ngIf="!bike.update">
                        <h5 class="card-title">
                            {{bike.name}}

                        </h5>
                        <p class="card-text">{{bike.release}}</p>
                    </ng-container>
                    <ng-container *ngIf="bike.update">
                        <bike-form [bike]="bike" (saveBike)="updateBike($event)" (cancel)="bike.update=false"></bike-form>
                    </ng-container>
                    <ng-container *ngIf="!bike.update">
                        <a type="button" (click)="bike.update=true;" class="btn btn-primary mr-2">Update</a>
                        <a type="button" (click)="delete(bike.id) " class="btn btn-danger mr-2">Delete</a>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>