<div class="container" *ngIf="bikes">

    <div class="row">
        <div class="col-4 col-md-6 col-sm-12 mb-3" *ngFor="let c of bikes">
            <div class="card">
                <img class="card-img-top card-img" src="{{BaseURL + c.image}}" alt="{{c.name}}" [routerLink]="['/product',c.id]">
                <div class="card-body">
                    <h5 class="card-title">{{c.name}}</h5>
                    <p class="card-text">{{c.release}}</p>
                    <a type="button" class="btn btn-success">Create</a>
                    <a type="button" (click)="edit(c)" class="btn btn-primary">Update</a>
                    <a type="button" (click)="delete(c.id)" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>