<form [formGroup]="acceFormGroup">

    <div class="row">
        <div class="col-12 mb-3">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="form-group">
                <textarea class="form-control" formControlName="description" placeholder="Description" rows="3"></textarea>
            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="release" placeholder="Price">
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary mr-2" (click)="onSave()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>